:root {
  color-scheme: light dark;
}

body {
  width: 200px;
  padding: 10px;

  font-family: system-ui;
  text-align: center;
  font-size: small;
}

.dark-mode {
  background-color: black;
  color: white;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
}
